<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django-App</title>
</head>
<body>

    <h1>Try Django Templates</h1>

    <!-- Including Navigation bar templates-->
    {% include 'navbar.html' %}

    <!--Make public to available for other HTML files-->
    {% block content %}
    {% endblock %}

</body>
</html>